.filterContainer {
  position: relative;
  top: 0;
  left: 0;
}

.filterForm {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 1.8rem;
  align-items: center;
  padding: 5px;
  justify-content: flex-start;
  border: 1px solid var(--color-font-light);
  border-radius: 5px;
}
.formLabel {
  position: absolute;
  top: -25px;
  left: 0;
}

.filterForm input,
.filterForm select {
  font-size: 1.8rem;
  padding: 5px;
  color: var(--color-bgd);
  background-color: var(--color-font-light);
  cursor: pointer;
  margin: 0 5px;
  outline: none;
}

.filterForm > input:hover {
  color: var(--color-font-light);
  background-color: var(--color-bgd);
}

@media (max-width: 992px) {
  .filterForm {
    margin-top: 5px;
  }
  .formLabel {
    position: absolute;
    top: -18px;
    left: 0;
  }
  .clearFilter {
    width: 8rem;
  }
  .filterForm input,
  .filterForm select {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .filterForm input,
  .filterForm select {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .filterForm {
    margin-top: 15px;
    flex-direction: column;
  }
  .filterForm input,
  .filterForm select {
    margin-bottom: 5px;
    font-size: 1.4rem;
  }
  .formLabel {
    top: 0;
  }
}

@media (max-width: 400px) {
}
