.footerDiv {
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  min-width: 350px;
  border-top: 2px var(--color-sub) solid;
  background-color: var(--color-bgd2);
}

.footerParagraph {
  display: flex;
  justify-content: center;
}

.iconsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.iconsDiv img {
  width: 70%;
  border-radius: 5px;
}

.iconsDiv a {
  display: block;
}
