.container {
  margin: 0 60px;
  min-height: 75vh;
  padding-top: 90px;
}
.blogSections {
  display: flex;
}

.indexHeader {
  padding: 0 10px;

  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.indexHero {
  color: var(--color-font);
  font-size: 3.8rem;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.coverImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 600px;
  min-height: 600px;
  margin-bottom: 20px;
}

.indexTitles {
  color: var(--color-font);
  text-align: left;
  font-size: 3.2rem;
  margin-bottom: 5px;
}

.indexPostsSec {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indexPostsDiv {
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.categoriesTagsSec {
  padding: 10px;
  padding-top: 90px;
  width: 30%;
}
.categoriesTags {
  padding: 5px;
  height: 30vh;
  margin: 10px 0;
}
.tagsDiv {
  display: flex;
  flex-wrap: wrap;
}
.tagSpan {
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
  background-color: var(--color-bgd2);
  border: 1px solid var(--color-font);
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogPostTitle {
  padding: 5px;
  margin: 5px 0;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postTitle {
  width: 100%;
}
.postSubTitle {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.dateCategory {
  padding-top: 12vh;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--color-font-vlight);
}

.sameCategoryDiv {
  margin-top: 20px;
}

.postTags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1250px) {
  .coverImageContainer {
    min-height: 400px;
  }
}

@media (max-width: 992px) {
  .container {
    margin: 0 60px;
  }
  .indexHero {
    font-size: 3.5rem;
  }
  .indexTitles {
    font-size: 3rem;
  }
  .coverImageContainer {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 30px;
  }
  .blogSections {
    flex-direction: column;
  }
  .indexPostsDiv {
    width: 100%;
  }
  .categoriesTagsSec {
    width: 100%;
  }

  .indexTextDiv {
    width: 100%;
    order: 2;
  }

  .indexTextProDiv {
    width: 100%;
    padding: 10px;
  }
  .indexTitles {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .coverImageContainer {
    min-height: 300px;
  }
}
@media (max-width: 576px) {
  .container {
    margin: 0 10px;
  }
  .indexSkillsDiv {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .skillSpan {
    font-size: 1.2rem;
  }
  .coverImageContainer {
    min-height: 300px;
  }
}
@media (max-width: 400px) {
  .container {
    margin: 0 5px;
  }

  .indexHero {
    font-size: 3rem;
  }

  .indexTitles {
    font-size: 2.5rem;
  }

  .indexSkillsDiv {
    padding: 2px;
  }
  .indexProjectsDiv {
    padding: 5px 2px;
  }
  .coverImageContainer {
    min-height: 300px;
  }
}
