.container {
  margin: 20px 100px;
  min-height: 75vh;
  padding-top: 90px;
}

.blogSections {
  display: flex;
}

.indexHeader {
  padding: 0 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.indexHero {
  color: var(--color-font);
  font-size: 3.8rem;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.coverImageContainer {
  position: relative;
  /* width: 100%;
  height: 100%;*/
  min-width: 600px;
  min-height: 600px;
}
/* start rules for markdown */
.postContent {
  margin: 40px 0;
}
.postContent strong {
  color: var(--color-font);
}
.postContent ol {
  margin-left: 15px;
}
.postContent pre {
  padding: 10px;
  margin: 20px 10px;
  border: 1px solid var(--color-font);
  color: var(--color-font);
  background-color: var(--color-bgd2) !important;
  /*font-style: italic;
  max-height: 200px;*/
  overflow: auto;
}
.postContent pre code {
  /*background-color: #b8afaf;*/
}
.postContent div {
  position: relative;
  /*width: 100;*/
}
.postContent button {
  position: absolute;
  top: -15px;
  right: 25px;
  width: 70px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
/* end rules for markdown */
.indexTitles {
  color: var(--color-font);
  text-align: left;
  font-size: 3.2rem;
  margin-bottom: 5px;
}

.indexPostsSec {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indexPostsDiv {
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.categoriesTagsSec {
  padding: 10px;
  padding-top: 90px;
  width: 30%;
}
.categoriesTags {
  padding: 5px;
  min-height: 30vh;
  margin: 10px 0;
}
.tagsDiv {
  display: flex;
  flex-wrap: wrap;
}
.tagSpan {
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
  background-color: var(--color-bgd2);
  border: 1px solid var(--color-font);
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogPostTitle {
  padding: 5px;
  margin: 5px 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.postTitle {
  width: 100%;
  font-size: 2.5rem;
}
.postSubTitle {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*align-items: center;*/
  font-size: 1.5rem;
}
.dateCategory {
  padding-top: 12vh;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--color-font-vlight);
}

.sameCategoryDiv {
  margin-top: 20px;
}
.postTagsDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.postTags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

@media (max-width: 1250px) {
  .coverImageContainer {
    min-width: 400px;
    min-height: 400px;
  }
}

@media (max-width: 992px) {
  .container {
    margin: 0 60px;
  }
  .indexHero {
    font-size: 3.5rem;
  }
  .indexTitles {
    font-size: 3rem;
  }
  .coverImageContainer {
    min-width: 350px;
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 30px;
  }
  .blogSections {
    flex-direction: column;
  }
  .indexPostsDiv {
    width: 100%;
  }
  .categoriesTagsSec {
    padding-top: 10px;
    width: 100%;
  }

  .categoriesTags {
    min-height: 20vh;
  }

  .indexTextDiv {
    width: 100%;
    order: 2;
  }

  .indexTextProDiv {
    width: 100%;
    padding: 10px;
  }
  .indexTitles {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .coverImageContainer {
    min-width: 300px;
    min-height: 300px;
  }
  .postContent button {
    width: 50px;
  }
}
@media (max-width: 576px) {
  .container {
    margin: 0 10px;
  }
  .coverImageContainer {
    min-width: 300px;
    min-height: 300px;
  }
}
@media (max-width: 400px) {
  .container {
    margin: 0 5px;
  }

  .indexHero {
    font-size: 3rem;
  }

  .indexTitles {
    font-size: 2.5rem;
  }

  .indexProjectsDiv {
    padding: 5px 2px;
  }
  .coverImageContainer {
    min-width: 280px;
    min-height: 280px;
  }
}
