/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono&display=swap");*/

/* Custom properties/variables  */
:root {
  --color-bgd: #131325;
  --color-bgd2: #17173b;
  --color-bgd3: rgba(0, 0, 0);
  --color-bgd3-trsp: rgba(0, 0, 0, 0.68);
  --color-font: #f3f3f3;
  --color-font-light: #b8afaf;
  --color-links: #a4a4ad;
  --color-sub: rgb(238, 18, 11);
}

.dark-theme {
  --color-bgd: #131325;
  --color-bgd2: #17173b;
  --color-bgd3: rgba(0, 0, 0);
  --color-bgd3-trsp: rgba(0, 0, 0, 0.68);
  --color-font: #f3f3f3;
  --color-font-light: #b8afaf;
  --color-links: #a4a4ad;
  --color-sub: #ee120b;
  --color-switch: gold;
}
.light-theme {
  --color-bgd: #f3f3f3;
  --color-bgd2: #e8e8c4;
  --color-bgd3: rgba(255, 255, 255);
  --color-bgd3-trsp: rgba(255, 255, 255, 0.68);
  --color-font: #131325;
  --color-links: #5b5b52;
  --color-font-light: #475050;
  --color-sub: #ee120b;
  --color-switch: #0026ff;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
  /* user-select: none;*/
  /*transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;*/
  transition: top 0.5s ease-out, color 0.5s ease-out,
    background-color 0.5s ease-out, transform 0.5s ease-out, right 0.5s ease-out;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-font-light);
  margin-top: 10px;
  min-width: 300px;
  background-color: var(--color-bgd);
  height: 100%;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 2.6rem;
}

p {
  font-size: 1.8rem;
}
ul {
  margin-left: 15px;
}
a,
a:visited {
  text-decoration: none;
  color: var(--color-links);
  font-weight: 600;
}

a:hover,
a:focus {
  color: var(--color-font);
  outline: none;
  cursor: pointer;
}

button {
  width: 15rem;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-font);
  background-color: var(--color-bgd2);
  border: 2px solid var(--color-font);
  border-radius: 10px;
}

button:hover,
button:focus {
  background-color: var(--color-font);
  color: var(--color-bgd2);
  outline: none;
}
button:active {
  color: var(--color-sub);
}

button:disabled {
  cursor: not-allowed;
}

image {
  object-fit: cover;
  display: block;
}

li {
  padding: 5px;
}

.aboutDiv {
  padding: 30px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.aboutTextDiv,
.aboutImgDiv {
  padding: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutHeroText {
  color: var(--color-font);
  margin-bottom: 20px;
}
.resumeHeroText {
  color: var(--color-font);
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.aboutSecTitle {
  color: var(--color-font);
  text-align: left;
  width: 100%;
  color: var(--color-font);
  text-align: left;
  width: 100%;
  border-bottom: 1px solid var(--color-font-light);
  margin-bottom: 5px;
}
.aboutFeaturedDiv {
  padding: 30px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutFeaturedImgDiv {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.aboutParagraphs {
  text-align: left;
  width: 100%;
}
.aboutLinks,
.aboutLinks:visited {
  text-decoration: none;
  color: var(--color-links);
  font-weight: 600;
  padding-bottom: 1px;
  border-bottom: 2px solid var(--color-sub);
}

.aboutLinks:hover,
.aboutLinks:focus {
  color: var(--color-font);
  outline: none;
}

.aboutSubTit {
  font-size: 1.8rem;
  color: var(--color-font);
}

li {
  padding: 5px;
}

@media (max-width: 992px) {
  button {
    font-size: 1.6rem;
  }
  select,
  label {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .aboutFeaturedImgDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .aboutDiv {
    flex-direction: column;
  }
  .aboutTextDiv,
  .aboutImgDiv {
    width: 100%;
    padding: 10px;
  }
  select,
  label {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  select,
  label {
    font-size: 1.4rem;
  }
}
