.container {
  margin: 0 80px;
}

.indexHeader {
  padding: 0 10px;
  padding-top: 90px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexTitles {
  color: var(--color-font);
}

.myImage {
  width: 80%;
  border-radius: 5px;
}
.indexDiv {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexTextDiv,
.indexTextProDiv,
.indexImgDiv {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexProjectsDiv {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indexSkillsDiv {
  /* padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;*/
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.skillSpan {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--color-bg2);
  border: 1px solid var(--color-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexProjectsImgDiv {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.subsTextDiv {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}

.subsTextDiv h3 {
  font-size: 2rem;
}

.subscribeForm {
  display: flex;
  justify-content: center;
  width: 60%;
}

.subscribeForm input {
  font-size: 1.8rem;
  height: 38px;
  padding: 5px;
  margin: 3px;
  width: 70%;
}

@media (max-width: 992px) {
  .container {
    margin: 0 60px;
  }
  .indexTitles {
    font-size: 3rem;
  }

  .indexProjectsImgDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 40px;
  }
  .indexProjectsImgDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .subsTextDiv {
    padding: 10px;
    width: 90%;
  }
  .subscribeForm {
    width: 100%;
  }
  .indexDiv,
  .indexHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  .indexImgDiv {
    order: 1;
    width: 75%;
    padding: 5px;
  }
  .indexTextDiv {
    width: 100%;
    padding: 10px;
    order: 2;
  }
  .indexTextProDiv {
    width: 100%;
    padding: 10px;
  }
  .indexTitles {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 0 20px;
  }
  .subscribeForm {
    flex-direction: column;
    align-items: center;
  }
  .subscribeForm input {
    width: 100%;
  }
  .subsTextDiv h3 {
    font-size: 1.8rem;
  }
  .indexTitles {
    font-size: 2.5rem;
  }
  .indexSkillsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}
