.container {
  margin: 0 80px;
}

.indexHeader {
  padding: 0 10px;
  padding-top: 90px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 5px;
}

.indexTitles {
  color: var(--color-font);
}

.indexTextDiv,
.indexTextProDiv,
.indexImgDiv {
  padding: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  min-width: 200px;
  min-height: 200px;
}

.indexProjectsDiv {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indexSkillsDiv {
  /* padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;*/
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.skillSpan {
  padding: 5px;

  border-radius: 10px;
  background-color: var(--color-bg2);
  border: 1px solid var(--color-font);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillImg {
  margin-right: 5px;
  border-radius: 5px;
}

.indexProjectsImgDiv {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 992px) {
  .container {
    margin: 0 60px;
  }
  .indexTitles {
    font-size: 3rem;
  }

  .indexProjectsImgDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 30px;
  }
  .indexProjectsImgDiv {
    grid-template-columns: repeat(1, 1fr);
  }

  .indexDiv,
  .indexHeader {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
  }
  .indexImgDiv {
    order: 1;
    width: 100%;
  }
  .indexTextDiv {
    width: 100%;
    order: 2;
  }
  .myImage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .indexTextProDiv {
    width: 100%;
    padding: 10px;
  }
  .indexTitles {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .skillSpan {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .container {
    margin: 0 10px;
  }
  .indexSkillsDiv {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .skillSpan {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  .container {
    margin: 0 5px;
  }

  .indexTitles {
    font-size: 2.5rem;
  }

  .indexSkillsDiv {
    padding: 2px;
  }
  .indexProjectsDiv {
    padding: 5px 2px;
  }
}
